@import "mixins/index";
/* Fonts */
$fontProximaNova: "Proxima Nova";

/* Colors */
$white_main: #fff;
$black_main: #121214;

$light_blue_main: #01B1ED;
$light_blue: #F1F5FA;
$light_blue_hover: #E8ECF4;

