@import "../../styles/variables";

.root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.filter_block {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 15px;
}

.select_wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.sub_title {
  @include font_text18;
}

.select {
  min-width: 145px;
}

